<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Website Created by: Garth Fritz <a href="mailto:gfritz@uvm.edu">gfritz@uvm.edu</a> 
</p>
<p>
	Contact Ruby on Rails Tutorial about the sample app at the
	<a href="http://railstutorial.org/contact">contact page</a>.
</p>